/*
Team 3D D3 -- Puneet Johal & Stefan Tan
SoftDev2 pd8
K13 -- Diving Deeper Into D3
2019-03-19
*/

.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}
